/* Work Sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* share styles start*/
.btn-primary {
    color: var(--simple-color);
    font-size: 20px;
    font-weight: 600;
    background-color: var(--brand-color);
    border: none;
    padding: 20px 28px;
}

* {
    margin: 0;
    font-family: "Work Sans", sans-serif;
}

/* share styles end*/

.header-section {
    background-color: #FFF4E7;
    padding: 20px 0 52px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 240px;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}

#login-no-margin {
    margin-right: 0;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Hero area styles */
.hero-area {
    margin: 80px 240px 0px 240px;
}

.hero-area img {
    width: 100%;
    margin-top: 32px;
}

.hero-contant {
    margin: auto;
    width: 868px;
    text-align: center;
}

.hero-title {
    color: var(--title-color);
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 24px;
}

.hero-desc {
    color: var(--desc-color);
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 32px;
}

/* main container Related styles */
.main-container {
    max-width: 1377px;
    margin: 0 auto;
}

.team-container {
    display: flex;
    align-items: center;
    gap: 76px;
    margin-top: 74px;
}

.team-picture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.team-details {
    margin-right: 72px;
}

.team-title {
    margin-bottom: 24px;
    font-size: 45px;
    font-weight: 700;
    color: var(--title-color);
}

#quick-list {
    font-weight: 500;
    color: var(--desc-color);
}

#features {
    color: var(--brand-color);
}

.team-desc {
    margin-bottom: 32px;
    color: var(--desc-color);
    line-height: 26px;
    font-weight: 500;
}

/* features related styles */
.features-container {
    margin-top: 100px;
    display: flex;
    gap: 54px;
}

.features-heading {
    margin-bottom: 32px;
}

.features-heading-title {
    color: var(--title-color);
    font-size: 45px;
    font-weight: 700;
    border-left: 7px solid var(--brand-color);
    padding-left: 20px;
    margin-bottom: 24px;
}

.features-heading-desc {
    color: var(--desc-color);
    line-height: 26px;
    font-weight: 500;
}

.features-card-container {
    margin-bottom: 20px;
    padding: 32px 38px;
    border-radius: 8px;
    background-color: var(--simple-color);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-card-title {
    color: var(--title-color);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.features-card-desc {
    color: var(--desc-color);
    line-height: 26px;
    font-weight: 500;
}
.features-img img{
    height: fit-content;
    margin-left: 76px;
}

.experience-card {
    padding: 46px 42px;
    background-color: var(--brand-color);
    border-radius: 8px;
    text-align: center;
    max-width: fit-content;
    position: relative;
    bottom: 100px;
    
}

.experience-title {
    color: var(--simple-color);
    font-size: 65px;
    font-weight: 700;
}

.experience-desc {
    color: var(--simple-color);
    font-size: 25px;
    font-weight: 600;
}

/* Facts Related styles */
.facts-container {
    margin-bottom: 58px;
}

.facts-content {
    max-width: 532px;
    margin-bottom: 52px;
}

.facts-content-title {
    color: var(--title-color);
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.facts-desc {
    color: var(--desc-color);
    font-weight: 500;
    line-height: 26px;
}

.facts-cards {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.facts-card-container {
    border: 2px solid var(--brand-color);
    border-radius: 8px;
    padding: 46px 40px 60px;
}

.facts-stats {
    font-size: 45px;
    color: var(--title-color);
    font-weight: 600;
    margin-top: 10px;
}

.facts-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--desc-color);
    width: 172px;
    margin-top: 5px;
}

/* sponsors related styles */
.sponsors-container {
    padding-top: 32px;
}

.sponsors-content {
    text-align: center;
    max-width: 552px;
    margin: 0 auto;
}

.sponsors-title {
    color: var(--title-color);
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.sponsors-desc {
    color: var(--desc-color);
    line-height: 26px;
}

.sponsorship-company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 52px 0;
}

.sponsorship-company img {
    height: 48px;
}

/* Footer related styles */
.footer-desc {
    background-color: #FFF4E7;
    color: var(--desc-color);
    padding: 40px 410px;
    text-align: center;
    margin: 102px 240px;
}

/* Responsive design related styles */
/* responsive design for tablet */
@media screen and (min-width:576px) and (max-width: 992px) {
    .nav-title {
        font-size: 46px;
    }

    .header-section {
        padding: 32px;
    }

    nav {
        padding: 32px 0px;
    }

    .hero-area {
        margin: 30px 20px 0px 20px;
    }

    .hero-contant {
        width: 100%;
    }

    .hero-title {
        font-size: 52px;
    }

    /* team section styles */
    .team-container {
        flex-direction: column;
        margin-left: 32px;
        margin-right: 32px;
        gap: 52px;
    }

    .team-picture {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .team-details {
        margin: 0 52px;
        text-align: center;
    }
    /* features section related styles */
    /* .hidden{
        visibility: hidden;
    } */
    /* Facts section related styles */

    .facts-cards {
        /* flex-direction: row; */
        justify-content: center;
        flex-wrap: wrap;
        /* flex-grow: 1; */
        gap: 32px;
    }

    .facts-container {
        margin-left: 32px;
        margin-right: 32px;
    }

    /* sponsors related styles */
    .sponsorship-company img {
        height: 32px;
    }

    .sponsors-container {
        margin-right: 32px;
        margin-left: 32px;
    }

    /*  Footer related styles*/
    .footer-desc {
        padding: 24px 80px;
        margin: 72px 32px;
    }

}

/* responsive design for mobile */
@media screen and (max-width: 576px) {
    .nav-title {
        font-size: 36px;
    }

    .header-section {
        padding: 20px;

    }

    nav {
        flex-direction: column;
        padding: 20px 0px;
    }

    .hero-area {
        margin: 30px 20px 0px 20px;
    }

    .hero-contant {
        width: 100%;
    }

    nav>ul {
        padding-top: 20px;
        padding-inline-start: 0px;

    }

    .hero-title {
        font-size: 52px;
    }

    /* team section styles */
    .team-container {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        gap: 32px;
    }

    .team-picture {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    .team-details {
        margin-right: 0px;
    }

    /* Facts related styles */
    .facts-cards {
        flex-direction: column;
        gap: 20px;
    }

    .facts-container {
        margin-left: 20px;
        margin-right: 20px;
    }
    /* features section related styles */
    /* .hidden{
        visibility: hidden;
    } */
    /* sponsors related styles */
    .sponsorship-company {
        flex-wrap: wrap;
        gap: 26px;
    }

    .sponsorship-company img {
        height: 32px;
    }

    .sponsors-container {

        margin-right: 20px;
        margin-left: 20px;
    }

    /*  Footer related styles*/
    .footer-desc {
        padding: 24px 20px;
        margin: 72px 20px;
    }
}